.titulo1{background-color: rgb(138, 170, 90); color:black; text-align:center; font-size: 30px;
   font-family: Cambria; }

.div{background-color: aquamarine; color:lightseagreen; padding: 40px; border:7px solid black;
     margin: auto 200px; text-align: right; font-size: 27px}

.span{color:red}